ansible
ansible-core
cachetools
certifi
cffi
charset-normalizer<3
cryptography
google-auth
idna
Jinja2
jmespath
jq
kubernetes
MarkupSafe
oauthlib
openshift
packaging
pyasn1
pyasn1-modules
pycparser
pyparsing
python-dateutil
python-string-utils
PyYAML
requests
requests-oauthlib
resolvelib<0.9.0
rsa
six
urllib3
websocket-client
