variable "aws_secret_key" {
    type = string
    default = ""
}


variable "aws_access_key" {
    type = string
    default = ""
}

variable "aws_region" {
    type = string
    default = ""
}


variable "remote_ip_address" {
    type = string
    default = "0.0.0.0/32"
}

variable "instance_size" {
  type = string
  default = "t3a.large"
}

variable "subnet_cidr_range" {
  type    = string
  default = "192.168.0.0/24"
}

variable "vpc_cidr_range" {
  type    = string
  default = "192.168.0.0/16
}